/*==============================================
 HELPER
 ===============================================*/
.transition {
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
}

.hidden {
  display: none
}

.p-0 {
  padding: 0 !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mb-5 {
  margin-bottom: 5em !important;
}

/*==============================================
 Logo Brand
 ===============================================*/

.logo-brand {
  font-size: 28px;
  color: #d6b161;
}

.logo-brand span {
  color: #fff;
}

.l-navbar-wrapper_has-sticky .logo-brand {
  font-size: 18px
}

/*==============================================
 Services
 ===============================================*/

.feature-box-grid {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.feature-box-grid > div {
  border: 1px solid #fff;
  outline: 1px solid #f2f2f2;
}

.feature-box-grid .featured-item.border-box {
  border: unset;
  height: 100%;
}

/*==============================================
 Technologies
 ===============================================*/

.technologies-icon .clients li img {
  display: block;
  width: 50%;
  height: auto;
  transition: all ease-in .2s;
  -moz-transition: all ease-in .2s;
  -webkit-animation: all ease-in .2s;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.technologies-icon .clients li:hover img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  -moz-filter: none;
  filter: none;
}
